<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 ，为了使用接口动态代理，这里必须是接口的全路径名-->
<mapper namespace="TempSensorDataMapper">
    <!--
       1.#{},预编译的方式preparedstatement，使用占位符替换，防止sql注入，一个参数的时候，任意参数名可以接收
       2.${},普通的Statement，字符串直接拼接，不可以防止sql注入，一个参数的时候，必须使用${value}接收参数
     -->
    <select id="queryTempSensorALLData" resultType="com.pengping.POJO.TempSensorData">
        select nodeUUID,
        time as timeStamp,
        temperature,
        humidity,
        pressure,
        intensity
         from s_sensor_data
    </select>

    <select id="queryTempSensorDataByID" resultType="com.pengping.POJO.TempSensorData">
        select * from s_sensor_data where nodeUUID = #{nodeUUID}
    </select>


    <insert id="insertTempSensorData" parameterType="java.util.List">
        INSERT INTO s_sensor_data (
        nodeUUID,
        time,
        temperature,
        humidity,
        pressure,
        intensity
        )
        VALUES
        <foreach collection="list" item="data" index="index" separator=",">
            (
            #{data.nodeUUID},
            #{data.timeStamp},
            #{data.temperature},
            #{data.humidity},
            #{data.pressure},
            #{data.intensity}
            )
        </foreach>
    </insert>

    <delete id="deleteTempSensorDataByID" parameterType="java.lang.String">
        delete from s_sensor_data where nodeUUID=#{nodeUUID} and time=#{time}
    </delete>
</mapper>
